@import "../../styles/index.scss";

.Header {
    grid-area: header;
    background: $primary-color;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
